<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>US Pollution</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-2.0.0.js"></script>
    <style>
    </style>

</head>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/topojson.v1.min.js"></script>
  <script src="js/map.js" type="text/javascript"></script>
  <script src="js/lineGraph.js" type="text/javascript"></script>  
  <script src="scales.js" type="text/javascript"></script>  
<body>

    <div id="mainTitle" height= "90" align = "center">    
      Data Visualization Project - US Pollution Stats from 2006 - 2010 
    </div>
    <div id= "svg-container">
       <div id="info-container">
        <div id="buttons" align="left" width = "400" height="100">
	       <button type="button" id="#NO2"  value="NO2_mean" onclick="getMaps(this);">NO2</button>
	       <button type="button" id="#O3"  value="O3_mean" onclick="getMaps(this);">O3</button>
	       <button type="button" id="#SO2"  value="SO2_mean" onclick="getMaps(this);">SO2</button>
	       <button type="button" id="#CO"  value="CO_mean" onclick="getMaps(this);">CO</button>
    	 </div>
    	 <div id="pollutionInfo" align="center"></div>
    	</div>
       <div id="map-container" width ="940" height="600">            
            <div id="lineChart"></div>
            <div id="lineData"></div>
       		<svg id="chart" width="200" height="200" ></svg>
 		<svg id="map" width="938" height="600"></svg>
 		<svg id="scale" width="200" height="75" ></svg> 			 				
 	   </div>
 	</div>
       	        <svg id="viz" class ="chart" width="720" height="405"></svg>
 	</div> -->
    <script type="text/javascript">
    </script>
	
</body>
</html>